body {
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center; 
    align-items: center; 
    background-color: white;
}

.outer-box {
    width: 90%; 
    max-width: 550px; 
    height: 90%; 
    max-height: 600px; 
    background-color: #3c3c3c;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner-box {
    width: 95%; 
    max-width: 520px; 
    height: 95%; 
    max-height: 570px; 
    background-color: #212121;
    border-radius: 5%;
    background: linear-gradient(to right, #050505, #212121 8%, #212121);
    position: relative;
}

.vertical-strip {
    position: absolute;
    width: 1%;
    height: 100%;
    background: linear-gradient(to right, rgba(33, 33, 33, 0), #121212, #121212, rgba(33, 33, 33, 0));
    top: 0;
    left: 50%;
    transform: translateX(-50%);
}

.outer-scroll {
    position: absolute;
    width: 15%; 
    height: 75%; 
    background-color: #121212;
    top: 12.5%; 
    right: 17%; 
    border-top-left-radius: 35px; 
    border-top-right-radius: 35px; 
    border-bottom-left-radius: 35px; 
    border-bottom-right-radius: 35px; 
    display: flex; 
    justify-content: center; 
    align-items: center; 
}

.inner-scroll {
    width: 50%; 
    height: 90%; 
    background-color: #3EF2EF; 
    border-top-left-radius: 35px; 
    border-top-right-radius: 35px; 
    border-bottom-left-radius: 35px; 
    border-bottom-right-radius: 35px; 
}

.scroll-icon {
    width: 75%;
    height: 14%;
    border-radius: 50%;
    background-color: #707070;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.scroll-icon::before {
    content: "";
    width: 50%;
    height: 50%;
    border-radius: 50%;
    background: radial-gradient(circle, #4c4c4c 0%, #707070 100%);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}