body {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: white;
}
  
.outer-box {
    width: 550px;
    height: 600px;
    background-color: #373737;
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.inner-box {
    width: 520px;
    height: 570px;
    background-color: #212121;
    position: relative; 
}

.vertical-strip {
    position: absolute; /* Position the strip absolutely within the inner box */
    width: 7px;
    height: 570px; /* Same height as inner box */
    background-color: #121212;
    top: 0; /* Align the strip to the top of the inner box */
    left: 50%; /* Position the strip at the center horizontally */
    transform: translateX(-50%); /* Adjust for the width of the strip */
}
